<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :course %><br>
    <%= f.collection_select(:course_id, Course.all, :id, :course_code, {include_blank: false}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
