<p>
  <strong>Course code:</strong>
  <%= @course.course_code %>
  
  <br>
  <strong>Groups:</strong>
  <ul>
    <% @course.groups.each do |group| %>
      <li><%= link_to "Group id=#{group.id}", group %></li>
    <% end %>
  </ul>
  
  <br>
  <strong>Students:</strong>
  <ul>
    <% @course.students.each do |student| %>
      <li><%= link_to student.email, student %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
